html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: whitesmoke;
  min-height: 100vh;
}
.middle-block {
  background-color: whitesmoke;
  min-height: 100vh;
}
.grayBG {
}
.whiteBG {
}
.darkgrayBG {
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  padding-bottom: 0px;
  z-index: 8;
  background-color: #1976d2;
}
.footer {
    width: 100%;
    padding-bottom: 20px;
    border-top: 1px solid black;
    background-color: #1976d2;
    color: black;
  }
.tradingviewchart {
  z-index: 1;
  position: relative;
  padding: 5px;
  height: "500px";
}
.page {
  margin-top: 48px;
}
a {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#market-overview {
  overflow: auto;
}

#livescorefeed {
  overflow: auto;
}
.fw-iframe {
  border: 5px solid black;
}
.card {
  border: 5px solid black;
}


.card section {
  background-color: #1976d2;
  color: white
}

.portfolio-card {
  background-color: #1976d2;
  border: 5px solid black;
  margin: 10px;
  color: 'white';
}

.screenercard {
  background-color: #1976d2;
  border: 5px solid black;
  overflow: auto;
}
