html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: lightgrey;
  min-height: 100vh;
}
.middle-block {
  background-color: whitesmoke;
  min-height: 100vh;
}
.grayBG {
  background-color: rgb(223, 222, 222);
  padding: 10px 0px;
  margin: 15px 0px;
}
.whiteBG {
  background-color: white;
  padding: 10px 0px;
  margin: 15px 0px;
}
.darkgrayBG {
  background-color: rgb(187, 185, 185);
  padding: 10px 0px;
  margin: 15px 0px;
}
.navbar {
  overflow: hidden;
  position: fixed;
  height: 52px;
  top: 0;
  width: 100%;
  padding-bottom: 0px;
  z-index: 8;
  background-color: #20c6b6;
}
.tradingviewchart {
  z-index: 1;
  position: relative;
}
.page {
  margin-top: 48px;
}
a {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#market-overview {
  height: 700px;
  overflow: scroll;
}
.fw-iframe {
  border: 5px solid black;
}
.card {
  border: 5px solid black;
  border-radius: 3%;
}
.card section {
  background-color: #20c6b6;
}
